* {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Public Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

/* Common */
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

.btn {
  --height: 57px;

  display: inline-block;
  padding: 0 20px;
  min-width: 173px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 40px;
  border: 1.5px solid #143c3c;
  color: #fff;
  background: #143c3c;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  transition: 0.25s;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  padding: 28px 0 13px;
}

.header-top {
  display: flex;
  align-items: center;
}

.header-top::before {
  position: absolute;
  bottom: 0;
  width: 1140px;
  content: '';
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
}

.nav__item {
  position: relative;
  transition: 0.25s;
}

.nav__link {
  display: inline-block;
  padding: 4px 19px;
  color: #575d5e;
  font-size: 1.8rem;
  font-weight: 500;
}

.nav__link--active,
.nav__link:hover {
  color: #152427;
}

.nav__link.nav__link--active::after {
  position: absolute;
  left: 19px;
  bottom: -28px;
  content: '';
  display: inline-block;
  background: #143c3c;
  width: 16px;
  height: 2px;
}

.header__btn {
  margin-left: 69px;
}

/* Hero */
.hero {
  position: relative;
  margin-top: 60px;
}

.hero__body {
  display: flex;
  align-items: center;
}

.hero__content {
  flex-shrink: 0;
  width: 35%;
}

.hero__heading {
  max-width: 368px;
  color: #152427;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
}

.hero__desc {
  max-width: 341px;
  margin-top: 20px;
  color: #575d5e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 42px;
}

.hero__play {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #83a17d;
}

.hero__media {
  width: 65%;
  margin-left: 76px;
  flex-grow: 1;
}

.hero__images {
  display: flex;
  gap: 20px;
  object-fit: cover;
  width: 202px;
  height: 466px;
  border-radius: 110px;
}

.hero__img:nth-child(2) {
  translate: 0 77px;
}
